# Virtual environment
# Environment files
.env
.venv

# Python and flask caches
instance/__pycache__
UnfStore/__pycache__
__pycache__/
*.py[cod]
*$py.class

# databse , migrations and sessions
/migrations/
*.sql
*.session.sql
*.db
*.sqlite

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

